{% for item in branches %}
  <li>
    <a class="manual-nav-link {% if current_page and current_page.pk == item.page.pk %}is-active{% endif %}"
       href="{% url 'manuals:page' item.page.slug %}">
      {% if item.page.icon %}<span class="manual-nav-icon" aria-hidden="true">{{ item.page.icon }}</span>{% endif %}
      <span>{{ item.page.title }}</span>
    </a>
    {% if item.children %}
      <ul class="manual-nav-sub">
        {% include "manuals/_nav_tree.html" with branches=item.children current_page=current_page %}
      </ul>
    {% endif %}
  </li>
{% endfor %}
